apiVersion: v1
kind: Service
metadata:
  name: viaroute-app
  namespace: viaroute
  labels:
    app: viaroute-app
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: viaroute-app

